* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.appcontent {
  position: fixed;
  left: 0;
  right: 250px;
  top: 100px;
  bottom: 0;
  overflow-x: hidden;
  z-index: 4;
  padding: 2rem;
}

.player-open {
  overflow-y: hidden;
}
