:root {
  --primary-yellow: #f4dd53;
  --secondary-yellow: #e9c01b;
  --primary-purple: #41145f;
  --secondary-purple: #08040f;
  --primary-gray: #222222;
  --secondary-gray: #0e0e0e;
}

.text-yellow {
  color: var(--primary-yellow);
}

.text-purple {
  color: var(--primary-purple);
}

.bg-gray-pri {
  background-color: var(--primary-gray);
}

.bg-gray-sec {
  background-color: var(--secondary-gray);
}

.bg-purple {
  background-color: var(--secondary-purple);
}

.shadow-yellow {
  box-shadow: 0 -1.5rem 3rem var(--secondary-yellow);
}
